.main {
    width: 100%;
}

.nav-bar {
    background-color: black;
    width: 98%;

}

.nav-bar {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.nav-bar a:hover {
    background-color: #ddd;
    color: black;
}


.image {
    width: 98%;
    height: auto;
}