/**
 TODO(you): Write the CSS necessary to complete HW1!
*/

header {
    position: relative;
    text-align: center;
}

.header-image {
    height: 500px;
    width: 100%;
}

.header-text {
    max-width: 780px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto Slab", serif;
    font-size: 36px;
    font-weight: normal;
    color: white;

}

.profile-image {
    width: 100px;
    border-radius: 100%;
    border-color: white;
    margin-top: -50px;

}

.profile-text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    margin-bottom: 60px;

}

.post-1-container, .post-2-container, .post-3-container, .post-4-container {
    display: flex;
    font-family: "Roboto Slab", serif;
    justify-content: center;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: rgb(51, 51, 51);

}


.post-number {
    font-size: 36px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.25);
    margin-right: 40px
}


a {
    color: #42b4d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.post {
    width: 66.7vw;
}

.post-body {
    width: 66.7vw;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: rgb(51, 51, 51);
}

.recommendation-container {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-container {
    margin-bottom: 120px;
}

img {
    width: 100%;
}